header {
    background-color: cornflowerblue;
    height: 50px;
    margin: 0px;
    padding: 0px;
}
.left-button{
    height: 30px;
    width: 80px;
    background: tomato;
    color: white;
    border: 0px;
    float: right;
    margin: 10px;
}
.right-button{
    height: 30px;
    width: 80px;
    background: tomato;
    color: white;
    border: 0px;
    margin: 10px 0px 10px 10px;
}
/*
*{
    border: 2px solid red
}
*/

.container{
    display: flex;
    height: 100%;
    margin-top: 20px;
}

.item1 {
    background-color:beige;
    padding: 0;
    height: 70px;
    width: 100%;
    border: solid 1px antiquewhite;
}
.item {
    background-color: floralwhite;
    padding: 0;
    border: solid 1px antiquewhite;
    width: 10%;

}
.container1{
    display: flex;
    margin-top: 20px;
    height: 100%;
}