header {
    background-color: cornflowerblue;
    height: 50px;
    margin: 0px;
    padding: 0px;
}
.left-button{
    height: 30px;
    width: 80px;
    background: tomato;
    color: white;
    border: 0px;
    float: right;
    margin: 10px;
}
.right-button{
    height: 30px;
    width: 80px;
    background: tomato;
    color: white;
    border: 0px;
    margin: 10px 0px 10px 10px;
}
/*
*{
    border: 2px solid red
}
*/

.container{
    display: flex;
    margin-top: 20px;
    height: 40px;
    flex-direction: row;
}

.item1 {
    background-color:beige;
    padding: 20px 20px 0px 20px;
    border: solid 1px antiquewhite;
    flex: 0 0 0;
}
.item {
    background-color: floralwhite;
    padding: 20px 20px 0px 20px;
    border: solid 1px antiquewhite;
    flex: 0 0 0;
}
.container1{
    display: flex;
    margin-top: 20px;
    height: 80px;
}